In [2]:
import pandas as pd

In [23]:
df = pd.read_csv('word_stats.csv')
df.head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
0,aahed,a,a,h,e,d,0.058432,0.180545,0.009828,0.170380,0.058835,0.478021,1.039374e-06,0.001074,0.002028,0.171731
1,aalii,a,a,l,i,i,0.058432,0.180545,0.065500,0.070549,0.025715,0.400740,1.253582e-06,0.000167,0.003772,0.264695
2,aapas,a,a,p,a,s,0.058432,0.180545,0.028677,0.088792,0.292090,0.648536,7.846198e-06,0.000621,0.005996,0.425673
3,aargh,a,a,r,g,h,0.058432,0.180545,0.091148,0.032784,0.028812,0.391720,9.082525e-07,0.000463,0.000923,0.127442
4,aarti,a,a,r,t,i,0.058432,0.180545,0.091148,0.069943,0.025715,0.425783,1.729469e-06,0.002023,0.003925,0.264695

In [24]:
df.sort_values(by='sum', ascending=False).head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
11136,sanes,s,a,n,e,s,0.112151,0.180545,0.075328,0.17038,0.29209,0.830495,0.000076,0.008114,0.008231,0.425673
12107,sores,s,o,r,e,s,0.112151,0.162504,0.091148,0.17038,0.29209,0.828273,0.000083,0.008041,0.008268,0.425673
11094,sales,s,a,l,e,s,0.112151,0.180545,0.065500,0.17038,0.29209,0.820666,0.000066,0.008818,0.008968,0.425673
12069,sones,s,o,n,e,s,0.112151,0.162504,0.075328,0.17038,0.29209,0.812454,0.000068,0.005933,0.006190,0.425673
9125,pares,p,a,r,e,s,0.076069,0.180545,0.091148,0.17038,0.29209,0.810232,0.000062,0.006174,0.003842,0.425673

In [25]:
df.sort_values(by='prod', ascending=False).head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
12107,sores,s,o,r,e,s,0.112151,0.162504,0.091148,0.17038,0.29209,0.828273,0.000083,0.008041,0.008268,0.425673
11136,sanes,s,a,n,e,s,0.112151,0.180545,0.075328,0.17038,0.29209,0.830495,0.000076,0.008114,0.008231,0.425673
12069,sones,s,o,n,e,s,0.112151,0.162504,0.075328,0.17038,0.29209,0.812454,0.000068,0.005933,0.006190,0.425673
11094,sales,s,a,l,e,s,0.112151,0.180545,0.065500,0.17038,0.29209,0.820666,0.000066,0.008818,0.008968,0.425673
11421,seres,s,e,r,e,s,0.112151,0.125008,0.091148,0.17038,0.29209,0.790778,0.000064,0.003905,0.011740,0.425673

In [26]:
df.sort_values(by='info', ascending=False).head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
12015,soare,s,o,a,r,e,0.112151,0.162504,0.092494,0.054460,0.117065,0.538674,0.000011,0.013210,0.008858,0.415410
185,aeros,a,e,r,o,s,0.058432,0.125008,0.091148,0.055671,0.292090,0.622349,0.000011,0.013210,0.008917,0.425673
665,arose,a,r,o,s,e,0.058432,0.068596,0.074924,0.039583,0.117065,0.358600,0.000001,0.013210,0.009788,0.415410
8655,oases,o,a,s,e,s,0.023696,0.180545,0.041266,0.170380,0.292090,0.707977,0.000009,0.012159,0.013390,0.425673
10422,reais,r,e,a,i,s,0.053517,0.125008,0.092494,0.070549,0.292090,0.633659,0.000013,0.011104,0.007417,0.425673

In [27]:
df.sort_values(by='info2', ascending=False).head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
3821,esses,e,s,s,e,s,0.022215,0.007607,0.041266,0.170380,0.292090,0.533558,3.470335e-07,0.000508,0.022015,0.425673
11440,sessa,s,e,s,s,a,0.112151,0.125008,0.041266,0.039583,0.059576,0.377583,1.364284e-06,0.000194,0.020947,0.399977
721,asses,a,s,s,e,s,0.058432,0.007607,0.041266,0.170380,0.292090,0.569774,9.128032e-07,0.001430,0.020403,0.425673
11334,sease,s,e,a,s,e,0.112151,0.125008,0.092494,0.039583,0.117065,0.486301,6.008793e-06,0.000550,0.019706,0.415410
11167,sasse,s,a,s,s,e,0.112151,0.180545,0.041266,0.039583,0.117065,0.490609,3.871755e-06,0.000194,0.019701,0.415410

In [28]:
df.sort_values(by='info3', ascending=False).head()

,word,l0,l1,l2,l3,l4,p0,p1,p2,p3,p4,sum,prod,info,info2,info3
14853,zymes,z,y,m,e,s,0.008213,0.020061,0.039044,0.170380,0.29209,0.529788,3.201272e-07,0.000220,0.000163,0.425673
14849,zurfs,z,u,r,f,s,0.008213,0.092090,0.091148,0.017368,0.29209,0.500909,3.497121e-07,0.000087,0.000067,0.425673
14832,zooms,z,o,o,m,s,0.008213,0.162504,0.074924,0.029956,0.29209,0.567688,8.749407e-07,0.000071,0.000245,0.425673
14831,zooks,z,o,o,k,s,0.008213,0.162504,0.074924,0.038438,0.29209,0.576170,1.122677e-06,0.000052,0.000178,0.425673
14827,zonks,z,o,n,k,s,0.008213,0.162504,0.075328,0.038438,0.29209,0.576574,1.128729e-06,0.000162,0.000119,0.425673

In [39]:
print(df.sort_values(by='p0', ascending=False)["l0"].iloc[0],
      df.sort_values(by='p1', ascending=False)["l1"].iloc[0],
      df.sort_values(by='p2', ascending=False)["l2"].iloc[0],
      df.sort_values(by='p3', ascending=False)["l3"].iloc[0],
      df.sort_values(by='p4', ascending=False)["l4"].iloc[0],
)

s a a e s

In [21]:
def get_stats(stat):
    lst = []
    with open(stat) as f:
        for line in f:
            lst.append(int(line))

    print(sum(lst)/len(lst))
    print(max(lst))
    print(min(lst))
    print(sum([x < 6 for x in lst]))
    print(sum([x >= 6 for x in lst]))

In [29]:
get_stats('stats0.txt')
print("-"*10)
get_stats('stats1.txt')
print("-"*10)
get_stats('stats2.txt')
print("-"*10)
get_stats('stats3.txt')
print("-"*10)
get_stats('stats4.txt')

5.260401238723576
16
1
9379
5475
----------
5.297428302140838
17
1
9275
5579
----------
5.060522418203851
16
1
10203
4651
----------
6.411808267133432
20
1
5283
9571
----------
5.742830214083749
17
1
7650
7204